<div ng-if="!key">Key Not Found</div>

<div ng-if="key" class="panel panel-info">

  <div class="panel-heading">
    <div class="panel-title">
      <ol class="breadcrumb">
        <li ng-repeat="path in key.path()" ng-class="{ active: $last }">
          <a ng-if="$first" ng-click="gotoPath(path)">{{path.name}}</a>
          <a ng-if="$index == 1" ng-click="gotoPath(path)">{{path.name}}</a>
          <a ng-if="!($first || $last || $index == 1)" ng-click="gotoPath(path)">{{path.name}}</a>
          <span ng-if="$last">{{path.name}}</span>
        </li>
      </ol>
    </div>
  </div>
  <div class="panel-body">

    <!-- Key Editor Form -->
    <form class="form-horizontal">

      <!-- Key Name -->
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Key Name</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" id="name" ng-model="key.name" class="form-control" focus="true" required ng-pattern="model.nameRegexValidate" />

            <!-- Key Actions Button Group -->
            <div class="input-group-btn" dropdown>
              <button type="button" class="btn btn-default" ng-click="moveKeyUp(key)" tooltip="Move key [{{key.name}}] up" tooltip-placement="top" tooltip-append-to-body="true"><i class="fa fa-arrow-up"></i>
              </button>
              <button type="button" class="btn btn-default" ng-click="moveKeyDown(key)" tooltip="Move key [{{key.name}}] down" tooltip-placement="top" tooltip-append-to-body="true"><i class="fa fa-arrow-down"></i>
              </button>
              <button type="button" class="btn btn-default" ng-click="addKey(key.keys, key)" tooltip="Add key below [{{ key.name }}]" tooltip-placement="left" tooltip-append-to-body="true"><i class="fa fa-plus"></i>
              </button>
              <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle tooltip="More actions" tooltip-placement="left" tooltip-append-to-body="true">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="addKey(key.keys, key)">Add key below [{{ key.name }}]</a>
                </li>
                <li><a ng-click="addKey(key.keys, key, true)">Add key above [{{ key.name }}]</a>
                </li>
                <li class="divider"></li>
                <li><a ng-click="deleteKey(key)">Delete key [{{ key.name }}]</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- Key Description -->
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Key Description</label>
        <div class="col-sm-10">
          <textarea id="description" ng-model="key.description" class="form-control input-sm"></textarea>
        </div>
      </div>

      <!-- Toggle Def -->
      <div class="clearfix hide">
        <a ng-click="data.isCollapsed = !data.isCollapsed" class="pull-right">{{ data.isCollapsed ? 'more' : 'less'  }}</a>
      </div>

      <div ng-show="!data.isCollapsed">
        <hr>

        <!-- Key Type (Proxied) -->
        <div class="form-group">
          <label for="type" class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
            <select id="type" ng-model="keyData.type" ng-options="type for type in model.staticTypes" class="form-control input-sm">
            </select>
          </div>
        </div>

        <!-- Key Def -->
        <div ng-repeat="def in [key.def]" ng-include="'/client/db/views/keys/' + key.type.toLowerCase() + '.html'"></div>

      </div>
    </form>

  </div>
  <div class="panel-footer">

    <!-- Siblings -->
    <ul class="list-inline small">
      <li ng-repeat="sibling in key.keys.items">
        <a ng-if="sibling !== key" ng-click="gotoPath(sibling)">{{sibling.name}}</a>
        <span ng-if="sibling === key" class="text-muted">{{sibling.name}}</span>
      </li>
    </ul>

  </div>

</div>
