<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="def.required" /> Required
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="defaultValue" class="col-sm-2 control-label">Default value</label>
  <div class="col-sm-10">
    <select id="defaultValue" ng-model="def.defaultValue" class="form-control input-sm">
      <option value="">Default value</option>
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
  </div>
</div>
