<li class="dropdown messages-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-book"></i>
  </a>
  <ul class="dropdown-menu">
    <li class="header">Documentation</li>
    <li>
      <ul class="menu">
        <li>
          <a href="http://hapijs.com" target="hapijs">
            <div class="pull-left">
              <img src="{{{assetsPath}}}images/hapi-40x40.png" class="img-circle" alt="hapijs">
            </div>
            <h4>
              Hapi
            </h4>
            <p>Framework for building web apps</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/joi" target="joi">
            <div class="pull-left">
              <img src="{{{assetsPath}}}images/joi-40x40.png" class="img-circle" alt="joi">
            </div>
            <h4>
              Joi
            </h4>
            <p>Object schema and validatation</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/boom" target="boom">
            <div class="pull-left">
              <img src="{{{assetsPath}}}images/boom-40x40.png" class="img-circle" alt="boom">
            </div>
            <h4>
              Boom
            </h4>
            <p>HTTP-friendly error objects</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/glue" target="glue">
            <h4>
              Glue
            </h4>
            <p>Hapi server composer</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/good" target="good">
            <div class="pull-left">
              <img src="{{{assetsPath}}}images/good-40x40.png" class="img-circle" alt="good">
            </div>
            <h4>
              Good
            </h4>
            <p>Hapi process monitoring</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/good-console" target="good-console">
            <h4>
              Good console
            </h4>
            <p>Console reporting for Good</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/good-file" target="good-file">
            <h4>
              Good file
            </h4>
            <p>File broadcasting for Good</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/good-http" target="good-http">
            <h4>
              Good http
            </h4>
            <p>Http(s) broadcasting for Good</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/lout" target="lout">
            <div class="pull-left">
              <img src="{{{assetsPath}}}images/lout-40x40.png" class="img-circle" alt="lout">
            </div>
            <h4>
              Lout
            </h4>
            <p>Hapi API documentation generator</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/vision" target="vision">
            <h4>
              Vision
            </h4>
            <p>Templates rendering support for hapi</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/inert" target="inert">
            <h4>
              Inert
            </h4>
            <p>Static file and directory handlers for hapi</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/nes" target="nes">
            <div class="pull-left">
              <img src="{{{assetsPath}}}images/nes-40x40.png" class="img-circle" alt="nes">
            </div>
            <h4>
              nes
            </h4>
            <p>WebSocket plugin for hapi routes</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/bossy" target="bossy">
            <h4>
              Bossy
            </h4>
            <p>Command line options parser</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/hapijs/hoek" target="hoek">
            <div class="pull-left">
              <img src="{{{assetsPath}}}images/hoek-40x40.png" class="img-circle" alt="hoek">
            </div>
            <h4>
              Hoek
            </h4>
            <p>Utility methods for the hapi ecosystem</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</li>