<div ng-if="!route">Route Not Found</div>


<div ng-if="route" class="panel panel-info">

  <div class="panel-heading">
    <div class="panel-title">
      Route: {{ route.url }}
    </div>
  </div>

  <div class="panel-body">

    <form class="form-horizontal">

      <!-- Route Path -->
      <div class="form-group form-group-sm">
        <label for="path" class="col-sm-2 control-label">Path</label>
        <div class="col-sm-10">
          <input type="text" id="path" ng-model="route.path" class="form-control" focus="true" required ng-pattern1="model.pathRegexValidate" />
          <div class="help-block">{{ route.url }}</div>
        </div>
      </div>

      <!-- Route Actions -->
      <div ng-repeat="action in route.actions" ng-controller="RouterActionCtrl" ng-include="'/client/router/views/action.html'">
      </div>
      
      <!-- Route Description -->
      <div class="hide form-group form-group-sm">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea id="description" ng-model="route.description" class="form-control input-sm"></textarea>
        </div>
      </div>

      <!-- Route Actions -->
      <div class="hide list-group">
        <a class="action list-group-item" ng-repeat="action in route.actions" ui-sref="app.fs.finder.file.router.home.route.item.action({ actionId: action.id })">{{action.verb}} {{route.url}}</a>
      </div>

      <button type="button" ng-click="addAction()" class="btn btn-default btn-flat btn-xs">Add Action</button>
      <button type="button" ng-click="deleteRoute(route)" ng-show="!route.isRoot" class="btn btn-danger btn-flat btn-xs pull-right">Delete Route</button>
      
      <!-- Route Actions View -->
      <div ui-view=""></div>

    </form>
    
  </div>

  <div class="panel-footer">

    <!-- Route Children -->
    <ul class="list-inline small pull-left">
      <li ng-repeat="child in route.children">
        <a ui-sref="app.fs.finder.file.router.home.route.item({ routeId: child.id })">{{child.path}}</a>
      </li>
    </ul>

    <div class="pull-right">
      <button type="button" ng-click="addChild()" class="btn btn-default btn-flat btn-xs">Add Child</button>
      <button type="button" ng-click="addChildResource()" class="btn btn-default btn-flat btn-xs">Add Child Resource</button>
    </div>
    
  </div>
</div>
