<div class="panel panel-info">

  <div class="panel-heading">
    <div class="panel-title">
      REST: {{ router.name }}
    </div>
  </div>

  <div class="panel-body">

    <div class="form-group">
      <label for="defaultValue" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" id="defaultValue" ng-model="router.name" class="form-control input-sm" placeholder="Enter a Name" />
      </div>
    </div>

    <table class="table table-striped table-compact">
      <tr ng-repeat="action in router.actions">
        <td><a ui-sref="app.fs.finder.file.router.home.route.item.action({ actionId: action.id })">{{ action.url }}</a></td>
        <td>
          <ul class="list-inline">
            <li ng-repeat="handler in action.handlers">
              <span ng-if="$first">&rArr;</span>
              <span ng-if="!$first">&rarr;</span> &nbsp;
              <a ng-if="checkHandlerFile(handler)" ui-sref="app.fs.finder.file({{getHandlerFileParams(handler)}})">{{ handler.location }}.{{ handler.name }}</a>
              <span ng-if="!checkHandlerFile(handler)">{{ handler.location }}.{{ handler.name }}</span>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <pagination total-items="router.actions.length" class="pagination-sm" max-size="2" direction-links="true" boundary-links="true" items-per-page="3" ng-model="currentPage" rotate="false" num-pages="numPages"></pagination>


  </div>

  <div class="panel-footer text-right">


  </div>
</div>