<html ng-app="app">

<head>
  <title>API</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
  <script>

    /*
     * Route Constructor Function
     */
    function Route(data) {
      this.parent = data.parent;
      this.path = data.path;
      this.actions = data.actions instanceof Action ? [data.actions] : (data.actions || []);
      this.routes = data.routes || [];
      this.handlers = data.handlers || [];
    }
    Route.prototype.addChild = function(path, actions) {
      var route = new Route({
        parent: this,
        path: path,
        actions: actions
      });
      this.routes.push(route);
      return route;
    }
    Route.prototype.hasChildren = function(path) {}
    Object.defineProperties(Route.prototype, {
      ancestors: {
        get: function() {
          var ancestors = [],
            r = this;

          while (r.parent) {
            ancestors.push(r.parent);
            r = r.parent;
          }

          return ancestors;
        }
      },
      decendents: {
        get: function() {
          var decendents = [];

          for (var i = 0; i < this.children.length; i++) {
            Array.prototype.push.apply(decendents, this.children[i].decendents);
          }

          return decendents;
        }
      },
      isRoot: {
        get: function() {
          return !this.hasAncestors;
        }
      },
      hasAncestors: {
        get: function() {
          return !!this.ancestors.length;
        }
      },
      hasDecendents: {
        get: function() {
          return !!this.decendents.length;
        }
      },
      children: {
        get: function() {
          return this.routes;
        }
      },
      hasChildren: {
        get: function() {
          return !!this.children.length;
        }
      },
      hasActions: {
        get: function() {
          return !!this.actions.length;
        }
      },
      url: {
        get: function() {
          var parts = [this.path];

          for (var i = 0; i < this.ancestors.length; i++) {
            parts.unshift(this.ancestors[i].path);
          }

          if (parts.length > 1 && parts[0] === '/') {
            parts.splice(0, 1);
          }

          return parts.join('');
        }
      }
    });

    /*
     * Action Constructor Function
     */
    function Action(data) {
      this.verb = data.verb;
      this.handlers = data.handlers instanceof Handler ? [data.handlers] : (data.handlers || []);;
    }
    Action.prototype.addHandler = function(handler) {
      var handler = new Handler(name, code);
      this.handlers.push(handler);
      return handler;
    }
    Object.defineProperties(Action.prototype, {
      hasHandlers: {
        get: function() {
          return !!this.handlers.length;
        }
      }
    });

    /*
     * Handler Constructor Function
     */
    function Handler(name, code) {
      this.name = name;
      this.code = code;
    }


    /*
     * Handler Constructor Function
     */
    function Api(name, route) {
      this.name = name;
      this.root = route;
    }


    var app = angular.module('app', []);

    app.controller('ApiCtrl', ['$scope',
      function($scope) {

        var requiresAuthentication = new Handler('requiresAuthentication', "function(req, res, next) { next(req.query.authme ? null : new Error('Unauthorized')); }");

        var homeRoute = new Route({
          path: '/',
          actions: new Action({
            verb: 'GET',
            handlers: new Handler('getHomePage', 'function(req, res) { req.send("getHomePage"); }')
          })
        });

        homeRoute.addChild('/ping', new Action({
          verb: 'GET',
          handlers: new Handler('getPingPage', 'function(req, res) { req.send("pong"); }')
        }));

        var user = homeRoute.addChild('/user', [new Action({
          verb: 'ALL',
          handlers: requiresAuthentication
        }),
        new Action({
          verb: 'GET',
          handlers: new Handler('getUserPage', 'function(req, res) { req.send("getUserPage"); }')
        })]);

        var authUsers = new Action({
          verb: 'ALL',
          handlers: requiresAuthentication
        });

        var loadUser = new Action({
          verb: 'ALL',
          handlers: new Handler('loadUser', 'function(req, res, next) { req.user = { name: "fred" }; next(); }')
        });

        var putUser = new Action({
          verb: 'PUT',
          handlers: [new Handler('saveUser', 'function(req, res) { req.send("saveUser"); }')]
        });

        var deleteUser = new Action({
          verb: 'DELETE',
          handlers: new Handler('deleteUser', 'function(req, res) { req.send("deleteUser"); }')
        });


        var authenticateUsers = user.addChild('/*', [authUsers]);

        var userid = user.addChild('/:id', [loadUser, putUser, deleteUser]);

        userid.addChild('/videos');


        var contactus = homeRoute.addChild('/contact-us', [new Action({
          verb: 'GET',
          handlers: new Handler('getContactUsPage', 'function(req, res) { req.send("getContactUsPage"); }')
        }),
        new Action({
          verb: 'POST',
          handlers: new Handler('postContactUsPage', 'function(req, res) { req.send("postContactUsPage"); }')
        })]);

        var api = new Api('demo', homeRoute);

        $scope.routes = [homeRoute];
      }
    ]);
  </script>
</head>

<body ng-controller="ApiCtrl">

  <ul class="api">
    <li class="" ng-repeat="route in routes" ng-include="'route.html'">
    </li>
  </ul>

  <!-- Templates -->
  <script type="text/ng-template" id="handler.html">
    <a ui-sref1="api.controller.route({ controllerId: route.controller.id, routeId: route.id })" title="{{ handler.code }}">{{ handler.name }}</a>
  </script>

  <script type="text/ng-template" id="action.html">
    <a ui-sref1="api.controller.route({ controllerId: route.controller.id, routeId: route.id })"><small>{{ action.verb.toUpperCase() }}</small></a>
    <ul ng-if="action.hasHandlers">
      <li class="handler" ng-repeat="handler in action.handlers" ng-include="'handler.html'">
      </li>
    <ul>
  </script>

  <script type="text/ng-template" id="route.html">
    <a ui-sref1="api.controller({ controllerId: controller.id })">{{ route.url }}</a>
    <ul ng-if="route.hasActions || route.hasChildren">
      <li ng-if="false" class="action" ng-repeat="action in route.actions" ng-include="'action.html'">
      </li>
      <li class="route" ng-repeat="route in route.children" ng-include="'route.html'">
      </li>
    <ul>
  </script>


</body>

</html>
