<script>
  window.UCO.path = '{{path}}'
  window.UCO.config = {{{config}}}
</script>
<!-- Ace -->
<script src="/public/ace-builds/src-min-noconflict/ace.js"></script>
<script src="/public/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
<script src="/public/js/bundle.js"></script>
<script src="//d3js.org/d3.v3.js"></script>
<!-- Main content -->
<section class="content">
  <div id="workspace">
    <div id="ace"></div>
    <vsd-db id="db"></vsd-db>
    <vsd-routes id="routes"></vsd-routes>
  </div>
</section>
<!-- /.content -->
