<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="def.required" /> Required
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="def.trim" /> Trim
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="def.unique" /> Unique
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="def.index" /> Index
    </label>
  </div>
</div>
<div class="form-group">
  <label for="defaultValue" class="col-sm-2 control-label">Default value</label>
  <div class="col-sm-10">
    <input type="text" id="defaultValue" ng-model="def.defaultValue" class="form-control input-sm" placeholder="Default value" />
  </div>
</div>
<div class="form-group">
  <label for="enumeration" class="col-sm-2 control-label">Enumeration</label>
  <div class="col-sm-10">
    <input type="text" id="enumeration" ng-model="def.enumeration" class="form-control input-sm" placeholder="Enum e.g. Mr Mrs Ms Miss" />
  </div>
</div>
<div class="form-group">
  <label for="casing" class="col-sm-2 control-label">Casing</label>
  <div class="col-sm-10">
    <select id="casing" ng-model="def.casing" class="form-control input-sm">
      <option value=""></option>
      <option value="uppercase">Uppercase</option>
      <option value="lowercase">Lowercase</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label for="match" class="col-sm-2 control-label">Match (RegEx)</label>
  <div class="col-sm-10">
    <input type="text" id="match" ng-model="def.match" class="form-control input-sm" placeholder="Match (RegEx)" />
  </div>
</div>