.fs-finder {

  white-space: nowrap;
  overflow-x: auto;
  height: 100%;
  margin-bottom: 10px;

  > div {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow-y: auto;

    &:not(:last-child) {
      border-right: solid 1px #ddd;
    }

    &:not(.preview-pane) {
      width: 130px;
    }

    a {
      display: block;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 10px;

      &.active {
        background-color: aliceblue;
      }

      i.right-chevron {
        position: absolute;
        right: 5px;
        top: 2px;
      }
    }
  }
}
