.fs-finder {

  white-space: nowrap;
  overflow-x: auto;
  height: 100%;
  margin-bottom: 10px;

  .col {
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    height: 100%;

    > div {

      width: 160px;

      a.fso {
        display: block;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 10px;

        &.active {
          background-color: #E8EEF2;
        }

        i.right-chevron {
          position: absolute;
          right: 5px;
          top: 2px;
        }
      }
    }

    &:not(:last-child) {
      border-right: solid 1px #ddd;
    }

  }
}
