a {
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul ul {
  margin-left: 15px;
}
.panel-heading .breadcrumb {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}
.nested-keys {
  margin: 8px 0;
}
.content-header {
  display: none;
}
.tree,
.tree ul {
  list-style-type: none;
  margin-left: 0 0 0 10px;
  padding: 0;
  position: relative;
}
.tree li {
  margin: 0;
  padding: 0 12px;
  position: relative;
}
.tree li::before,
.tree li::after {
  content: '';
  position: absolute;
  left: 0;
}
/* horizontal line on inner list items */
.tree li::before {
  border-top: 1px solid #999;
  top: 10px;
  width: 10px;
  height: 0;
}
/* vertical line on list items */
.tree li:after {
  border-left: 1px solid #999;
  height: 100%;
  width: 0px;
  top: -10px;
}
/* lower line on list items from the first level because they don't have parents */
.tree > li::after {
  top: 10px;
}
/* hide line from the last of the first level list items */
.tree > li:last-child::after {
  display: none;
}
.tree ul:last-child li:last-child:after {
  height: 20px;
}
.sidebar .db li.schema {
  margin-bottom: 20px;
}
.sidebar .db li.key {
  padding: 2px;
}
.sidebar .api li {
  white-space: nowrap;
}
.header .menu {
  max-height: 280px;
}
.header .menu h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.header .menu p {
  direction: rtl;
  overflow: hidden;
}
.header .menu li {
  position: relative;
}
.header .menu a.close {
  position: absolute;
  top: 0;
  right: 5px;
  color: gray;
}
.header .menu a.close:hover {
  background-color: transparent!important;
}
i.file-type {
  font-size: 35px;
  position: relative;
}
i.file-type span {
  position: absolute;
  font-size: 9px;
  font-weight: bold;
  bottom: 2px;
  right: 1px;
  text-transform: uppercase;
  overflow: hidden;
  left: 2px;
  text-align: right;
  text-overflow: ellipsis;
}
.nav-tabs-custom a.close {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 0;
  line-height: 0.5;
}
.MdPreview-markdown {
  display: none;
}
.fs-tree {
  display: block;
}
.fs-tree,
.fs-tree ul {
  list-style-type: none;
  margin: 0;
  padding-left: 8px;
}
.fs-tree li,
.fs-tree ul li {
  display: block;
}
.fs-tree li a,
.fs-tree ul li a {
  padding: 1px 4px;
  margin: 1px 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}
.fs-tree li a i,
.fs-tree ul li a i {
  margin-right: 3px;
}
.fs-menu {
  display: block;
  position: absolute;
}
.fs-finder {
  white-space: nowrap;
  overflow-x: auto;
  height: 100%;
  margin-bottom: 10px;
}
.fs-finder .col {
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  height: 100%;
}
.fs-finder .col > div {
  width: 160px;
}
.fs-finder .col > div a.fso {
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.fs-finder .col > div a.fso.active {
  background-color: #E8EEF2;
}
.fs-finder .col > div a.fso i.right-chevron {
  position: absolute;
  right: 5px;
  top: 2px;
}
.fs-finder .col:not(:last-child) {
  border-right: solid 1px #ddd;
}
.fs-finder-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.fs-finder-page .top-box {
  padding: 10px;
}
.fs-finder-page .top-box hr {
  margin-bottom: 0;
}
.fs-finder-page .bottom-box {
  flex-grow: 1;
  position: relative;
}
.fs-finder-page .toggle-menu,
.fs-finder-page .toggle-finder {
  margin-left: 5px;
}
.fs-finder-page .recent-file-tabs {
  margin-bottom: 0;
}
.fs-finder-page .recent-file-tabs .nav-tabs {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.fs-finder-page .recent-file-tabs .nav-tabs::-webkit-scrollbar {
  display: none;
}
.fs-finder-page .recent-file-tabs .nav-tabs li {
  float: none;
  display: inline-block;
}
.fs-finder-page .recent-file-tabs i.file-type {
  margin-right: 3px;
  font-size: 16px;
}
.fs-finder-page .fs-finder {
  margin-bottom: 0;
  margin-top: 20px;
  height: 250px;
}
.fs-finder-page .ace-editor {
  position: absolute;
  top: 48px;
  left: 0;
  bottom: 0;
  right: 0;
}
