/* CUSTOM */
a {
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul ul {
  margin-left: 15px;
}
.panel-heading .breadcrumb {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}
.nested-keys {
  margin: 8px 0;
}
.tree,
.tree ul {
  list-style-type: none;
  margin-left: 0 0 0 10px;
  padding: 0;
  position: relative;
}
.tree li {
  margin: 0;
  padding: 0 12px;
  position: relative;
}
.tree li::before,
.tree li::after {
  content: '';
  position: absolute;
  left: 0;
}
/* horizontal line on inner list items */
.tree li::before {
  border-top: 1px solid #999;
  top: 10px;
  width: 10px;
  height: 0;
}
/* vertical line on list items */
.tree li:after {
  border-left: 1px solid #999;
  height: 100%;
  width: 0px;
  top: -10px;
}
/* lower line on list items from the first level because they don't have parents */
.tree > li::after {
  top: 10px;
}
/* hide line from the last of the first level list items */
.tree > li:last-child::after {
  display: none;
}
.tree ul:last-child li:last-child:after {
  height: 20px;
}
.sub-header {
  padding-top: 10px;
  border-top: 1px solid #eee;
  text-align: right;
}
.sidebar .db li.schema {
  margin-bottom: 20px;
}
.sidebar .db li.key {
  padding: 2px;
}
.sidebar .api li {
  white-space: nowrap;
}
.header .menu {
  max-height: 280px;
}
.header .menu h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.header .menu p {
  direction: rtl;
  overflow: hidden;
}
i.file-type {
  font-size: 35px;
  position: relative;
}
i.file-type span {
  position: absolute;
  font-size: 9px;
  font-weight: bold;
  bottom: 2px;
  right: 1px;
  text-transform: uppercase;
  overflow: hidden;
  left: 2px;
  text-align: right;
  text-overflow: ellipsis;
}
.MdPreview-markdown {
  display: none;
}
.fs-tree {
  display: block;
}
.fs-tree,
.fs-tree ul {
  list-style-type: none;
  margin: 0;
  padding-left: 8px;
}
.fs-tree li,
.fs-tree ul li {
  display: block;
}
.fs-tree li a,
.fs-tree ul li a {
  padding: 1px 4px;
  margin: 1px 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}
.fs-tree li a i,
.fs-tree ul li a i {
  margin-right: 3px;
}
.fs-menu {
  display: block;
  position: absolute;
}
.fs-finder {
  white-space: nowrap;
  overflow-x: auto;
  height: 100%;
  margin-bottom: 10px;
}
.fs-finder > div {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow-y: auto;
}
.fs-finder > div:not(:last-child) {
  border-right: solid 1px #ddd;
}
.fs-finder > div:not(.preview-pane) {
  width: 130px;
}
.fs-finder > div a {
  display: block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.fs-finder > div a.active {
  background-color: aliceblue;
}
.fs-finder > div a i.right-chevron {
  position: absolute;
  right: 5px;
  top: 2px;
}
.fs-finder-page .toggle {
  margin-bottom: 5px;
}
.fs-finder-page .fs-finder {
  height: 300px;
}
