<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{model.jsCount}}</h3>
        <p>
          Scripts (.js)
        </p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
          </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{model.cssCount}}</h3>
        <p>
          Styles (.css)
        </p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
          </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{model.htmlCount}}</h3>
        <p>
          Html
        </p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
          </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{model.totalCount}}</h3>
        <p>
          Total
        </p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
          </a>
    </div>
  </div>
  <!-- ./col -->
</div>

<div class="row">
  <div class="col-md-8">

    <div class="box box-primary">
      <div class="box-header">
        <div class="box-title">
          <i class="fa fa-code"></i> README
        </div>
      </div>
      <div class="box-body">
        <wait until-not-undefined="model.readme">
          <wait-loading>Loading package.json</wait-loading>
          <wait-done>
            <div ng-if="model.readme">
              <div class="iiMdPreview" style="max-height: 600px; overflow: auto;" text="{{model.readme.contents}}"></div>
            </div>
            <div ng-if="!model.readme">No result</div>
          </wait-done>
        </wait>
      </div>
      <div class="box-footer">
        Footer
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="box">
      <div class="box-header">
        <div class="box-title">
          NPM
        </div>
        <div class="box-tools">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control pull-right" ng-model="packageQuery" placeholder="Filter" style="width: 150px;">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>
      <div class="box-body">

        <wait until-not-undefined="model.package">
          <wait-loading>Loading package.json</wait-loading>
          <wait-done>
            <div ng-if="model.dependencies">
              <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-condensed table-striped1">
                  <tbody>
                    <tr ng-repeat="dep in model.dependencies | filter: { name: packageQuery }">
                      <td><span style="max-width: 400px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{dep.name}}</span></td>
                      <td class="text-right"><span class="badge bg-green" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{dep.version}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div ng-if="!model.dependencies">No result</div>
          </wait-done>
        </wait>

      </div>
      <div class="box-footer">
        Footer
      </div>
    </div>

    <div class="box">
      <div class="box-header">
        <div class="box-title">
          {{model.tree.name}}
        </div>
      </div>
      <div class="box-body" style="max-height: 300px; overflow: auto;">
        <ng-include src="'/client/fs/views/tree.html'" ng-controller="FsTreeCtrl"></ng-include>
      </div>
      <div class="box-footer">
        <small>{{model.tree.path}}</small>
      </div>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-8">

    <div class="box">
      <div class="box-header">
        <div class="box-title">
          <i class="icon ion-android-developer"></i> package.json
        </div>
      </div>
      <div class="box-body">
        <wait until-not-undefined="model.package">
          <wait-loading>Loading package.json</wait-loading>
          <wait-done>
            <div ng-if="model.package">
              <div ui-ace="{
                    useWrapMode: false,
                    showGutter: false,
                    mode: 'javascript',
                    require: ['ace/ext/language_tools'],
                    advanced: {
                      enableSnippets: true,
                      enableBasicAutocompletion: true,
                      enableLiveAutocompletion: true
                    }
                  }" ng-model="model.package.contents"></div>
            </div>
            <div ng-if="!model.package">No package.json found</div>
          </wait-done>
        </wait>
      </div>
      <div class="box-footer">
        <small ng-if="model.package"><a ui-sref="app.fs.finder.file({path: encodePath(model.package.path)})">{{model.package.path}}</a></small>
      </div>
    </div>

  </div>
  <div class="col-md-4">

    <div class="box">
      <div class="box-header">
        <div class="box-title">
          {{model.tree.name}}
        </div>
      </div>
      <div class="box-body" style="height: 300px; overflow: auto;">
        <ng-include src="'/client/fs/views/finder.html'" ng-controller="FsFinderCtrl"></ng-include>
      </div>
      <div class="box-footer">
        <a ui-sref="app.fs.finder"><small>{{model.tree.path}}</small></a>
        <a ui-sref="app.fs.dir({ path: encodePath(model.tree.path) })"><small>{{model.tree.path}}</small></a>
      </div>
    </div>

  </div>

</div>

<!--
<ul ng-if="false">
  <li ng-repeat="fso in map">{{ fso.name }}</li>
</ul>
<ul ng-if="false">
  <li ng-repeat="fso in tree[0].children[0].children">{{ fso.name }}</li>
</ul> -->
